<div class=" flex flex-col items-center h-[8rem] justify-center bg-[#ebebeb]/50 space-y-5 ">
  <div class="flex space-x-12">
    <div class="flex space-x-3">
        <p> <i class="fa-solid fa-globe"></i> English (IN)</p>
        <p> &#8377; INR</p>
    </div>
    <div class="space-x-3">
        <i class=" fa-brands  fa-square-facebook text-[1.7rem]"></i>
        <i class=" fa-brands  fa-square-twitter text-[1.7rem]"></i>
        <i class=" fa-brands  fa-square-instagram text-[1.7rem]"></i>
    </div>
  </div>
  
 <div class="flex flex-col items-center gap-1">
    <p class="text-center text-gray-500 text-md">&copy; WanderLust Private Limited</p>
    <div class="space-x-4">
      <a class="hover:text-blue-600" href="">Privacy</a><a class="hover:text-blue-600" href="">Terms</a><a class="hover:text-blue-600" href="">Sitemp</a><a class="hover:text-blue-600" href="">Company Details</a>
    </div>
 </div>
</div>
