
    <div class="flex   bg-white h-[5rem] md:h-[5rem] md:items-center  sticky top-0 z-40   ">
        
      
        
        <div class="space-x-[1.5rem] flex items-center ml-[0.5rem] md:ml-[1.5rem]  text-[#222222] font-bold w-[40%] md:w-[33.33%] ">
            <a class="text-[1.5rem] md:text-[2rem] text-[#fe424d] "  href="/listings" ><i class="fa-brands fa-airbnb mt-[0.4rem]"></i> </a>
            <a class="text-[0.8rem] md:text-[1rem] hover:text-blue-500 " href="/listings/lists">Explore Airbnb</a>

        </div> 
        
        <div class="md:w-[33.33%] hidden md:inline ">
            <form class="w-[100%]" method="get" action="/listings/show">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="text" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900  border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" name="title" placeholder="Search Destinations" required />
                    <button type="submit" class="text-white absolute  end-2.5 bottom-[0.5rem] bg-red-700 click:bg-red-800 focus:ring-4 focus:outline-none focus:bg-white font-medium  text-sm px-4 py-2  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 rounded-[5rem]"><i class="fas fa-search"></i> Search</button>
                </div>
            </form>
        </div>
        <div class="space-x-[0.8rem] md:space-x-[1.5rem] w-[60%] md:w-[33.33%] flex justify-center items-center md:justify-end mr-[1.6rem] md:mr-[2rem]   md:mt-1 text-[#222222]  text-black font-bold">
            <a class="text-[0.8rem] md:text-[1rem] hover:text-blue-500" href="/listings/new">Add New Listings</a>
           <%  if (!currentUser) { %>
            <a class="text-[0.8rem] md:text-[1rem] hover:text-blue-500 " href="/listings/user/register"> SignUp </a>
            <a class="text-[0.8rem] md:text-[1rem] hover:text-blue-500 " href="/listings/user/loginpage">LogIn</a>
           

            <% } %>

            <%  if (currentUser) { %>
            
            <a class="text-[1rem]  hover:text-blue-500 p-[0.6rem]  p-[0.6rem] rounded-xl" href="/listings/user/logout">Logout</a>
        
            <% } %>
        </div> 
       
       
    </div>
