<%- layout("/layouts/boilerplate") %>

<div class="p-4 mb-4 text-xl text-red-800 rounded-lg bg-red-50 dark:text-red-800 dark:bg-red-200 h-[10rem] flex flex-col gap-[2.5rem] self-center">
    <h1>Alert <span><i class="fa fa-exclamation"></i></span> </h1>
    <div class="border border-red-400 rounded bg-red-100 h-[5rem] flex items-center relative bottom-5"  role="alert" >
        <p class="mx-3">  <%=err.message %> </p>
       
        </div>
</div>

