<%- layout("/layouts/boilerplate") %>
<div class="  h-[40rem]  md:h-[100vh] w-full flex flex-col  md:flex-row   md:justify-between items-center bg-[url('https://i.pinimg.com/originals/e2/48/25/e2482591bfe0462315f6b39ff32dd388.jpg')] bg-cover no-repeat gap-3">
    

    <div class="bg-transparent flex justify-center h-[30%]  md:h-full md:w-[50%] w-full items-center " >

        <div class=" text-center pt-[2rem]">
            
            <h1 class="text-black font-bold  drop-shadow-2xl text-[3rem]  md:text-[5rem] text-center">Unleash Your </h1>
           <h1 class="text-black font-bold w-[25rem] text-center text-[3rem] md:text-[4rem] drop-shadow-2xl pt-1/10 "> <span class="md:text-[8rem] text-[4rem] font-bold text-red-500 p-0">W</span>anderLust </h1>
        </div>

    </div>
    <div class="flex justify-center items-center bg-transparent  md:w-[50%] w-full  md:h-full ">
        <form class=" md:hover:bg-white/40  w-[95vw]  md:w-[30vw] md:h-[50vh]  needs-validation bg-white/80 md:bg-white/10 md:scale-50  hover:scale-100  transition duration-[0.5s] px-[2rem] md:px-[3rem] py-[3rem] space-y-[2rem]   shadow-lg rounded-xl" action="/user/login" method="post" novalidate>
            <div class="space-y-[2rem]"> 
                <h1 class="font-bold text-[2rem] md:opacity-[0.5] md:hover:opacity-[1]">Login Please!</h1>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="username" id="u" class="is-invalid block py-2.5 px-0 w-full text-[1rem] text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="u" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                <p class="mt-2  valid-feedback text-red-600 text-sm">
                    Please Enter a Valid Username <span><i class="fa fa-exclamation-triangle"></i></span>
                </p>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="password" name="password" id="p" class="is-invalid block py-2.5 px-0 w-full text-[1rem] text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="p" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-black duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                <p class="mt-2  valid-feedback text-red-600 text-sm">
                    Please Enter a Valid Password <span><i class="fa fa-exclamation-triangle"></i></span>
                </p>
            </div>
        </div>
            <div class="w-full flex justify-between  ">
             <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-[1rem] md:w-[10rem] px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">Submit</button>
         <a href="/" class="hover:text-red-600 transition duration-[0.3s] pt-[0.6rem] md:pr-2 ">Forgot Password ?</a>
            </div>
             </form>
          
    </div>
    
   
</div>



<script>
    let form = document.querySelectorAll(".form")

form.addEventListener("click",()=>{
  if(form.style.classList != "scale-100"){
  form.classList.add = "scale-100"
  form.classList.remove = "scale-50"
  }
  else{
     form.classList.add = "scale-50"
  form.classList.remove = "scale-100"
  }
})
</script>